In [1]:
# Imports

import pandas as pd

from tinydb import TinyDB, Query
from tinydb.storages import JSONStorage
from tinydb.middlewares import CachingMiddleware

from tqdm import tqdm_notebook as tqdm

In [17]:
# Column names

symbol_df = pd.DataFrame(columns=['Symbol', 'Name', 'Symbol2', 'Currency', 'Exchange', 'Status'])

In [18]:
# Exchanges

exchanges = {
    'FWB': 'ib_fwb_etfs.csv',
    'LSE': 'ib_lse_etfs.csv',
    'LSEETF': 'ib_lse-etf_etfs.csv',
    'IBIS': 'ib_xetra_etfs.csv'
}

In [19]:
# Read symbols info from file to df

for ex, file in exchanges.items():
    one_ex_data = pd.read_csv(file, delimiter=';')
    # todo: clean symbol names
    one_ex_data['Exchange'] = ex
    symbol_df = symbol_df.append(one_ex_data, ignore_index=True, sort=True)
symbol_df.describe()

,Currency,Exchange,Name,Status,Symbol,Symbol2
count,5323,5323,5323,0,5323,5323
unique,3,4,2284,0,3732,3955
top,EUR,LSE,WisdomTree US Equity Income UCITS ETF,NaN,STAW,3DES
freq,3024,1827,12,NaN,4,3

In [10]:
# Write df to CSV

symbol_df.to_csv('symbol_database.csv', sep=';')

In [23]:
# Write list to textfile

# df = symbol_database[symbol_database['Symbol']!=symbol_database['Symbol2']]
df = symbol_df.loc[symbol_df['exchange']=='fwb', 'Symbol']
symbol_list = df.tolist()

file = open('symbollist.txt', 'w+')
for symbol in symbol_list:
    file.write(symbol+'\n')
file.close()

In [20]:
# Write to tinydb

# ----- DANGER ZONE! -----
# 
# symbol_db = TinyDB('symbol_db.json', storage=CachingMiddleware(JSONStorage))
# 
# for index, row in tqdm(symbol_df.iterrows()):
#     symbol_db.insert({'Id': index, 
#                       'Symbol': row['Symbol'], 
#                       'Name': row['Name'], 
#                       'Currency': row['Currency'], 
#                       'Exchange': row['Exchange'],
#                       'Status': 'untouched'
#                      })
# symbol_db.close()

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [5]:
# Read symbol data to df

symbol_db = TinyDB('symbol_db.json')
data_list = symbol_db.all()
symbol_db.close()

data_string = str(data_list)
data_string = data_string.replace("-'bP'", "-bP")
data_string = data_string.replace("MOODY'S", "MOODYS")
data_string = data_string.replace("'", '"')

df = pd.read_json(data_string, orient='records')
df

,Id,Symbol,Name,Currency,Exchange,Status
0,0,BNQF,Collateralized ETC on RICI Enhanced Gas Oil TR...,EUR,FWB,Market data farm connection is OK:usfarm
1,1,CNB,Lyxor Euro Corporate Bond Ex Financials UCITS ETF,EUR,FWB,Finished
2,2,UEF5,UBS ETF - MSCI Emerging Markets Socially Respo...,EUR,FWB,Historical Market Data Service error message:N...
3,3,GOMA,BNP Paribas Easy Barclays Euro Government Infl...,EUR,FWB,Historical Market Data Service error message:N...
4,4,X0BM,Coba ETC -2 x Platinum Daily Short Index,EUR,FWB,Finished
5,5,FLOT,Lyxor Barclays Floating Rate Euro 0-7Y UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
6,6,X0E2,Coba ETC 2x Gasoil Daily Long Index,EUR,FWB,Finished
7,7,ETLH,L&G Ecommerce Logistics UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
8,8,PP2,ComStage ETF PSI 20 Leverage UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
9,9,XBO3,Xtrackers II Italy Government Aggregate Bond S...,EUR,FWB,Historical Market Data Service error message:N...
10,10,WTIZ,WisdomTree Japan Equity UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
11,11,XBJA,ETFS Long CHF Short EUR,EUR,FWB,Finished
12,12,4GLD,Xetra-Gold,EUR,FWB,Finished
13,13,2OIL,Boost WTI Oil 2x Leverage Daily ETP,EUR,FWB,Finished
14,14,XMVE,Xtrackers MSCI EMU Minimum Volatility UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
15,15,EQUA,BNP PARIBAS EASY Equity Quality Europe UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
16,16,X0C1,Coba ETC 1x Brent Oil Daily Long,EUR,FWB,Finished
17,17,EL4F,Deka DAX ausschuettend UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
18,18,WTDY,WisdomTree US Equity Income UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
19,19,00XS,ETFS EUR Daily Hedged Wheat,EUR,FWB,Finished
20,20,X03B,Xtrackers II Eurozone Government Bond 1-3 UCIT...,EUR,FWB,Historical Market Data Service error message:N...
21,21,E903,ComStage 1 DivDAX UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
22,22,CG1,Amundi ETF DAX UCITS ETF DR,EUR,FWB,Historical Market Data Service error message:N...
23,23,EL4S,Deka DB EUROGOV Germany 1-3 UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
24,24,C054,ComStage ETF FR EURO STOXX 50 UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
25,25,M9SD,Market Access NYSE Arca Gold Bugs Index UCITS ETF,EUR,FWB,Historical Market Data Service error message:N...
26,26,D5BF,Xtrackers II US Treasuries Inflation-Linked UC...,EUR,FWB,Historical Market Data Service error message:N...
27,27,X0BB,Coba ETC 3x Cocoa Daily Long,EUR,FWB,Finished
28,28,WTEM,WisdomTree Global Quality Dividend Growth UCIT...,EUR,FWB,Historical Market Data Service error message:N...
29,29,WSRI,Amundi Index MSCI World SRI UCITS ETF DR,EUR,FWB,Historical Market Data Service error message:N...
...,...,...,...,...,...,...
5293,5293,EL4G,Deka EURO STOXX Select Dividend 30 UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5294,5294,PVXT,Lyxor Privex UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5295,5295,OI1S,Boost WTI Oil 1x Short Daily ETP,EUR,IBIS,Finished
5296,5296,0LJF,Boost Natural Gas ETC,EUR,IBIS,Finished
5297,5297,X0B5,Coba ETC -1x WTI Oil Daily Short,EUR,IBIS,Finished
5298,5298,DBX3,Xtrackers MSCI EM Latin America Swap UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5299,5299,MIVU,Amundi MSCI USA Minimum Volatility Factor UCIT...,EUR,IBIS,Historical Market Data Service error message:N...
5300,5300,X0DH,Coba ETN 3x DJIAF Daily Long,EUR,IBIS,Finished
5301,5301,BNQ9,Natural Gas ETC von BNPP,EUR,IBIS,Finished
5302,5302,PR1U,AMUNDI PRIME USA UCITS ETF DR,EUR,IBIS,Historical Market Data Service error message:N...
5303,5303,ECB,Lyxor EuroMTS Covered Bond Aggregate UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5304,5304,VX5E,Vanguard Euro Stoxx 50 UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5305,5305,BNQU,Collateralized ETC on RICI Enhanced ENERGY TR ...,EUR,IBIS,Finished
5306,5306,WTED,WisdomTree Emerging Markets SmallCap Dividend ...,EUR,IBIS,Historical Market Data Service error message:N...
5307,5307,ASI,Lyxor China Enterprise HSCEI UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5308,5308,X0D2,Coba ETC 4x Brent Oil Daily Long,EUR,IBIS,Finished
5309,5309,UIMP,UBS ETF - MSCI USA Socially Responsible UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5310,5310,LYX7,Lyxor Core iBoxx USD Treasuries 7-10Y DR UCITS...,EUR,IBIS,Historical Market Data Service error message:N...
5311,5311,E908,ComStage 1 TecDAX UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5312,5312,X00D,Coba ETN 4x DAXF Daily Long,EUR,IBIS,Finished
5313,5313,AEMD,Amundi Index MSCI Emerging Markets UCITS ETF DR,EUR,IBIS,Historical Market Data Service error message:N...
5314,5314,MD4X,Lyxor German Mid-Cap MDAX UCITS ETF,EUR,IBIS,Historical Market Data Service error message:N...
5315,5315,4RTR,ETFS 2X Daily Long Agriculture,EUR,IBIS,Finished
5316,5316,DXSB,Xtrackers Stoxx Global Select Dividend 100 Swa...,EUR,IBIS,Historical Market Data Service error message:N...
5317,5317,3E3M,Boost Emerging Markets 3x Leverage Daily ETP,EUR,IBIS,Finished
5318,5318,EXX1,iShares EURO STOXX Banks 30-15 UCITS ETF DE,EUR,IBIS,Historical Market Data Service error message:N...
5319,5319,10AM,AMUNDI INDEX BARCLAYS GLOBAL AGG 500M UCITS ET...,EUR,IBIS,Historical Market Data Service error message:N...
5320,5320,X0CW,Coba ETN -15x BUNDF Daily Short,EUR,IBIS,Finished
5321,5321,X0B3,Coba ETC 3x WTI Oil Daily Long,EUR,IBIS,Finished
5322,5322,XBJJ,ETFS Long AUD Short EUR,EUR,IBIS,Finished

In [8]:
# Group by exchange

dfe = df.groupby('Exchange').count()
dfe

            Id  Symbol  Name  Currency  Status
Exchange
FWB       1349    1349  1349      1349    1349
IBIS      1266    1266  1266      1266    1266
LSE       1827    1827  1827      1827    1827
LSEETF     881     881   881       881     881

In [9]:
# Group by status

dfs = df.groupby('Status').count()
dfs

,Id,Symbol,Name,Currency,Exchange
Status,,,,,
Finished,3079,3079,3079,3079,3079
Historical Market Data Service error message:HMDS query returned no data: 0A12@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0A1I@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0A1T@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0AND@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANE@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANH@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANI@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANK@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANL@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANM@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANO@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANP@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANQ@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANS@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANT@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANU@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANW@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANX@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0ANY@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0AO0@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0AO7@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0DKR@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0DT2@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0DZB@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0E0Y@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0E1M@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0E7J@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0E7L@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: 0E7Q@LSE Midpoint,1,1,1,1,1
...,...,...,...,...,...
Historical Market Data Service error message:HMDS query returned no data: OGY3@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OGYL@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OGZU@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OSPI@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OSX5@LSEETF Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OUES@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OVZA@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OVZB@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OVZC@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OXA1@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OXA2@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OXA5@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OXA6@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OXCT@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: OXDX@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: RDS2@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: SBD1@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: SBE1@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: ULV2@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:HMDS query returned no data: VOD2@LSE Midpoint,1,1,1,1,1
Historical Market Data Service error message:No market data permissions for AEB STK,1,1,1,1,1
Historical Market Data Service error message:No market data permissions for BVME.ETF STK,1,1,1,1,1
Historical Market Data Service error message:No market data permissions for EBS STK,6,6,6,6,6
Historical Market Data Service error message:No market data permissions for FWB STK,962,962,962,962,962
Historical Market Data Service error message:No market data permissions for IBIS STK,900,900,900,900,900
Historical Market Data Service error message:No market data permissions for IDEALUK STK,1,1,1,1,1
Historical Market Data Service error message:No market data permissions for SBF STK,1,1,1,1,1
Historical Market Data Service error message:No market data permissions for SWB STK,7,7,7,7,7
Market data farm connection is OK:usfarm,1,1,1,1,1
No security definition has been found for the request,19,19,19,19,19

In [7]:
# Group by status + exchange

dfse = df.groupby(['Exchange', 'Status']).count()
dfse

                                                              Id  Symbol  \
Exchange Status
FWB      Finished                                            375     375
         Historical Market Data Service error message:No...  962     962
         Historical Market Data Service error message:No...    2       2
         Market data farm connection is OK:usfarm              1       1
         No security definition has been found for the r...    9       9
...                                                          ...     ...
LSEETF   Historical Market Data Service error message:HM...    1       1
         Historical Market Data Service error message:No...    1       1
         Historical Market Data Service error message:No...    1       1
         Historical Market Data Service error message:No...    2       2
         Historical Market Data Service error message:No...    1       1

                                                             Name  Currency
Exchange Status
FWB      Finished                                             375       375
         Historical Market Data Service error message:No...   962       962
         Historical Market Data Service error message:No...     2         2
         Market data farm connection is OK:usfarm               1         1
         No security definition has been found for the r...     9         9
...                                                           ...       ...
LSEETF   Historical Market Data Service error message:HM...     1         1
         Historical Market Data Service error message:No...     1         1
         Historical Market Data Service error message:No...     1         1
         Historical Market Data Service error message:No...     2         2
         Historical Market Data Service error message:No...     1         1

[364 rows x 4 columns]

In [30]:
# Update certain status values

symbol_db = TinyDB('symbol_db.json')

my_query = Query()
symbol_db.update({'Status': 'untouched'}, 
                 my_query.Status == "Historical Market Data Service error message:No market data permissions for SWB STK")

symbol_db.close()